.nav-buttons {
  background-color: red;
  text-align: center;
}

.nav-buttons button {
  color: blue;
  background: tomato;
  padding: 10px;
  margin: 10px;
  min-width: 250px;
}

.templates {
  text-align: center;	
}

.template {
    display: inline;
}

.stacked-template1 {
    height:300px;
    margin-left:-150px;
}

.stacked-template2{
    height: 350px;
    margin-left:-150px;
}

.stacked-template3{
    height:90px;
    margin-left:-100px;
}

.stacked-template4{
    height:100px;
    margin-left:-100px;

}