.nav-buttons {
  background-color: rgb(60,60,100);
  text-align: center;
}

.nav-buttons button {
  color: blue;
  background: charcoal-gray;
  padding: 10px;
  margin: 10px;
  min-width: 250px;
}

button{
    border-radius:20px;
    border:5px solid gray;
}

button:hover{
    background:gray;
}

.nav-button:hover{
    color:black;
}

.templates {
  text-align: center;	
}

.template {
    display: inline;
}

.stacked-template0{
    height:250px;
    width: 250px;

}

.stacked-template1 {
    height:300px;
    width:250px;
    margin-left:-150px;
}

.stacked-template2{
    height: 350px;
    margin-left:-150px;
}

.stacked-template3{
    height:90px;
    margin-left:-100px;
}

.stacked-template4{
    height:100px;
    margin-left:-100px;

}

.instagram{
    width:100px;
    height:100px;
    cursor:pointer;
}

.facebook{
    width:100px;
     height:100px;
     cursor:pointer;

}

.twitter{
width:100px;
     height:100px;
     cursor:pointer;

}

.gmail {
width:100px;
     height:100px;
     cursor:pointer;

}

.footer{

}

footer{
    text-align:center;
    background-color:rgb(60,60,100);
}

p {
    font:Arial;
}

